/* CSS Document */


.table{
	margin:0px auto;
	padding:0px 0px 0px 0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:left;
	border:#CCCCCC 1px solid;
	border-right:#CCCCCC 1px solid;
}